.btn-floating {
    margin: 10px;
    width: 50px;
    border-radius: 100%;
    color: white;
}

.btn-fb {
    background: rgb(45, 89, 236);
}

.btn-tw {
    background: rgb(26, 231, 221);
}
.btn-gplus {
    background: rgb(235, 53, 53);
}
.btn-ins {
    background: rgb(147, 53, 235);
}